@model barCode.Models.Administradores

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Administradores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDistribuidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDistribuidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutAdm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutAdm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreAdm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAdm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApPatAdm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApPatAdm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApMatAdm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApMatAdm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasena)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
