@model IEnumerable<barCode.Models.Administradores>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:white">Administradores</h2>

<p>
    <a class="btn btn-info" href="/Administradores/Create">Agregar</a>
</p>
<table class="table table-hover table-bordered" style="background-color:white">
    <tr>
        <th>@Html.DisplayNameFor(model => model.IdDistribuidor)</th>
        <th>@Html.DisplayNameFor(model => model.RutAdm)</th>
        <th>Nombres</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>@Html.DisplayNameFor(model => model.Fono)</th>
        <th>@Html.DisplayNameFor(model => model.Usuario)</th>
        <th>@Html.DisplayNameFor(model => model.Contrasena)</th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.IdDistribuidor)</td>
        <td>@Html.DisplayFor(modelItem => item.RutAdm)</td>
        <td>@Html.DisplayFor(modelItem => item.NombreAdm)</td>
        <td>@Html.DisplayFor(modelItem => item.ApPatAdm)</td>
        <td>@Html.DisplayFor(modelItem => item.ApMatAdm)</td>
        <td>@Html.DisplayFor(modelItem => item.Fono)</td>
        <td>@Html.DisplayFor(modelItem => item.Usuario)</td>
        <td>@Html.DisplayFor(modelItem => item.Contrasena)</td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdAdmin }) |            
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdAdmin })
        </td>
    </tr>
}

</table>
