@model IEnumerable<barCode.Models.Administradores>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdDistribuidor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RutAdm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreAdm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApPatAdm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApMatAdm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrasena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdDistribuidor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RutAdm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreAdm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApPatAdm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApMatAdm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contrasena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAdmin }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAdmin }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAdmin })
        </td>
    </tr>
}

</table>
