@model barCode.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        
        @*<dt>@Html.DisplayNameFor(model => model.Foto)</dt>
        <dd>@Html.DisplayFor(model => model.Foto)</dd>*@

        <dt>@Html.DisplayNameFor(model => model.NombreProd)</dt>
        <dd>@Html.DisplayFor(model => model.NombreProd)</dd>

        <dt>@Html.DisplayNameFor(model => model.Marca)</dt>
        <dd>@Html.DisplayFor(model => model.Marca)</dd>

       <dt>@Html.DisplayNameFor(model => model.Precio)</dt>
        <dd>@Html.DisplayFor(model => model.Precio)</dd>

        <dt>@Html.DisplayNameFor(model => model.Descripcion)</dt>
        <dd>@Html.DisplayFor(model => model.Descripcion)</dd>

    </dl>
</div>
<div>
    <form action="~/Carrito/Agregar">
        <button type="submit" value="Agregar" class="btn-xs btn btn-success text-shadow">Al Carrito</button>
    </form>
     |
    @Html.ActionLink("Volver", "Index")
</div>
