@model IEnumerable<barCode.Models.Producto>
@{
    ViewBag.Title = "Index";
}
<!--CSS-->
<style>
    * {
        margin: 0px;
        padding: 0px;
    }

    html, body {
        width: 100%;
        height: 100%;
    }

    .pro {
        width: 260px;
        height: 300px;
        display: inline-block;
        vertical-align: top;
        align-items:center;
        display: inline-block;
        text-align: center;
        border-radius: 15px;
        padding: 5px;
        margin: 10px;
    }

        .pro img {
            width: 50%;
            height: 50%;
        }
</style>

<!--Header-->
<div class="grid">
    <div class="">
        <h5>Cervezas</h5>
    </div>
</div>

<div class="row">
    <div class="">

        <div class="col-md-8">
            <h4>Las Mejores cervezas Artesanales Nacionales estan con la Teleton.</h4>
            
        </div>

        <div class="align-right col-md-4">

            <form action="http://localhost:51424/Carrito/Buscador">
                <input name="Nombre" id="Nombre" />
                <input type="submit" value="Buscar" class="glyphicon-search" />
            </form>

        </div>
    </div>
</div>

<hr class="bg-green">



<!--Articulos Catalogo-->
@foreach (var item in Model)
{
    <div class="frame pro thumbnail">
        <form action="~/Carrito/Agregar">
            <div>
                <div class="">
                    <header>
                        <h5>@item.NombreProd</h5>
                        <input type="hidden" name="id" value="@item.IdProducto" />
                        <button type="submit" value="Agregar" class="btn-xs btn btn-success text-shadow">Al Carrito</button>
                        <img src="@Url.Content(item.Foto)" height="130" width="130" />
                    </header>
                </div>
            </div>
        </form>

        <div class="">            
            <p>@item.Descripcion</p>
            <div>Precio: @string.Format("{0:C}", item.Precio)</div><p></p>           
        </div>          
        
        <div class="row">
            <p>Seleccionar Cantidad</p>
            <form name="ejemplo2" action="11-html5-number-input.php" method="POST">
                
                <input type="number" name="edad" min="12" max="36" step="12" required="required">
            </form>
        </div>
    </div>

}


    <!--References-->
    <div>
        <link href="~/Content/metro.css" rel="stylesheet">
        <link href="~/Content/metro-icons.css" rel="stylesheet">
        <link href="~/Content/metro-responsive.css" rel="stylesheet">
        <link href="~/Content/metro-schemes.css" rel="stylesheet">
        <link href="~/Content/docs.css" rel="stylesheet">
        <link href="~/Content/main.css" rel="stylesheet">

        <script src="~/Scripts/jquery-2.1.3.min.js"></script>
        <script src="~/Scripts/metro.js"></script>
        <script src="~/Scripts/metro.js"></script>
        <script src="~/Scripts/run_prettify.js"></script>
    </div>

   <footer></footer>

