@model barCode.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2 style="color:white">Detalles</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal" style="color:white">       
        <img src="@Url.Content(Model.Foto)" height="130" width="130" />

        <dt>@Html.DisplayNameFor(model => model.NombreProd)</dt>
        <dd>@Html.DisplayFor(model => model.NombreProd)</dd>

        <dt>@Html.DisplayNameFor(model => model.Marca)</dt>
        <dd>@Html.DisplayFor(model => model.Marca)</dd>

       <dt>@Html.DisplayNameFor(model => model.Precio)</dt>
        <dd>$@Html.DisplayFor(model => model.Precio)</dd>

        <dt>@Html.DisplayNameFor(model => model.Descripcion)</dt>
        <dd>@Html.DisplayFor(model => model.Descripcion)</dd>

    </dl>
</div>
<p>    
    <a class="btn btn-info" href="/Catalogo">Volver</a>  
</p>


