@model IEnumerable<barCode.Models.Producto>
@{
    ViewBag.Title = "Index";
}

<h2 style="color:white">Realizar Pago</h2>

<h5 style="color:white">Detalle de Pago:</h5>

@*<select id="idCuenta" class="form-control">
    <option>Cuenta Corriente</option>
    <option>Cuenta Vista</option>
    <option>Cuenta de Ahorro</option>
</select>*@

<p></p>

<table class="table table-hover table-bordered" style="background-color:white">
    <tr>        
        <th>Producto</th>
        <th>Precio Unitario</th>
        <th>Cantidad</th>
        <th>Total a Pagar</th>
    </tr>
    @{
        double total = 0;
    }

    @foreach (var item in Model)
    {
        total += (double)(item.cantidad * item.Precio);
        <tr>           
            <td>@Html.DisplayFor(modelItem => item.NombreProd)</td>
            <td>@String.Format("{0:C}", item.Precio)</td>
            <td>@Html.DisplayFor(modelItem => item.cantidad)</td>
            <td>@String.Format("{0:C}", item.montoTotal)</td>           
        </tr>
    }
    <tfoot>
        <tr>
            <th colspan="3">Total</th>
            <th id="totalCarrito">@String.Format("{0:C}", total)</th>
        </tr>
    </tfoot>
</table>
<p></p>
<button class="btn btn-info" onclick="enviarMonto(@total)" >Pagar</button>

<script>
    function enviarMonto(monto) {
        EjecutarAjax("/BancoFalso/Pagar", ["monto"], [monto],
            function (success) {
                if (success) {
                    window.location.href = "../BancoFalso/PagoOk";
                }
                else {
                    alert("Revise las credenciales.");
                }
            },
            function (a, b, c) {
                alert("Ocurrió una excepción al iniciar sesión en Bco. Falso.");
            }
        );
    }
</script>






