@model IEnumerable<barCode.Models.Boleta>

@{
    ViewBag.Title = "Index";
}

<h2>Historial</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table table-hover table-bordered" style="background-color:white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDistribuidor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NroBoleta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Despachado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdDistribuidor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NroBoleta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Despachado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdBoleta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdBoleta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdBoleta })
        </td>
    </tr>
}

</table>
